// COLORS

$color-1: #359085;
$color-2: #950035;
$color-3: #5c5c5c;
$color-4: #020202;
$color-5: #115c5c;
$color-6: #c58585;
$color-7: #fdd888;
$color-8: #afa5ee;
$color-9: #fcfcfc;
$color-10: #fe855e;

$colors: (
   '1':$color-1,
   '2':$color-2,
   '3':$color-3,
   '4':$color-4,
   '5':$color-5,
   '6':$color-6,
   '7':$color-7,
   '8':$color-8,
   '9':$color-9,
   '10':$color-10,
);

// SPACING

$space-1: 1em;