$color-1: #166b63;
$color-2: #f7f8f6;
$color-3: #66706d;
$color-4: #18201e;
$color-5: #0f766e;
$color-6: #ffffff;
$color-7: #e7b75a;
$color-8: #e8f3f0;
$color-9: #f7f8f6;
$color-10: #d95d39;

$colors: (
   '1': $color-1,
   '2': $color-2,
   '3': $color-3,
   '4': $color-4,
   '5': $color-5,
   '6': $color-6,
   '7': $color-7,
   '8': $color-8,
   '9': $color-9,
   '10': $color-10,
);

$space-1: 1rem;
