.posts {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   grid-gap: 15px;
   margin: auto;
   max-width: 1250px;
   width: 90%;
}

.post {
   display: flex;
   background: $color-9;
   box-shadow: 0 7px 12px rgba(0, 0, 0, 0.55), 0 7px 9px rgba(0, 0, 0, 0.55);
   border-radius: 15px;
   aspect-ratio: 2/1;

   section {
      width: 50%;
      height: 100%;

      &:first-child {
         background: $color-6;
         border-top-left-radius: 15px;
         border-bottom-left-radius: 15px;
      }

      &:last-child {
         background: $color-4;
         color: $color-9;
         border-top-right-radius: 15px;
         border-bottom-right-radius: 15px;
      }

   }
}